
.wrapper {
    margin: 0 auto;
    width: 1100px;
}

h3,h4,h5,p, label {
    font-family: nexaBold;
    color: #3C4242;
}

.box {
    display: flex;
}

.billing .hd{
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-left: 5px #F15B39 solid;
}
.billing h5 {
    margin-bottom: 10px;
}

.subbox {
    width: 800px;
}

.box-1 {
    display: flex;
}

.box-1 ul li {
    margin-top: 10px;
    margin-right: 15px;
}

form {
    font-size: 12px;
}

form input {
    background-color: #F6F6F6;
    border: 0.5px solid #555;
    border-radius:3px;
}

form input::placeholder {
    padding-left: 20px;
    font-size: 12px;
}

.form-1 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.form-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.confirm {
    width: 120px;
    height: 30px;
    color: #fff;
    margin-top: 15px;
    background-color:  #F15B39;
    border-color: #e7e7e7;
    border-radius: 20px;
}

.box-2 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    width: 700px;
    height: 100px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #F6F6F6;
    border-radius: 12px;
}

.box li div p {
    padding-bottom: 20px;
}

.box-2 h4 {
    padding: 5px 0px 10px;
}

.box-2 .method {
    margin-top: 10px;
}

.check-label{
    font-family: nexaBold;
}

.line-part {
    border-top: #EDEEF2 1px solid;
    padding-top: 10px;
}

form {
    padding-bottom: 15px;
    border-bottom: #EDEEF2 1px solid;
    margin-bottom: 20px;
}

.payment {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #F6F6F6;
    border-radius: 12px;
}

.payment p {
    margin-top: 10px;
    margin-bottom:-20px;
}

.payment p a {
    padding-right: 10px;
    color: brown;
}


.pay-info ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pay-info ul li {
    padding-bottom: 10px;
}


.summary {
    width: 300px;
    height: 500px;
    margin-left: 30px;
    background-color: #FFFFFF;
    border: #EDEEF2 1px solid;
    border-radius: 12px;
}
.summary ul {
    padding: 5px 10px;
}

.summary ul li img {
    padding-left: 10px;
    width: 50px;
    height: auto;
}

.summary li {
    display: flex;
    border-top: #EDEEF2 1px solid;
}

.summary h3 {
    font-size: 16px;
    padding:5px 10px;
}

.summary a {
    padding: 10px 10px;
}

.summary p {
    font-size: 12px;
}

.total {
    padding: 5px 10px;
}

.total span {
    margin-left: 120px;
}