@font-face {
    font-family: 'Nexa Bold';
    src: url("./Fonts/nexa_bold.otf") format("truetype");
  }
  @font-face {
    font-family: 'Nexa Light';
    src: url("./Fonts/nexa-light.otf") format("truetype");
  }
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #F15B39;
}

.foot-part-1 img {
    width: 182px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.foot-part-1 {
    width: 363px;
    height: 200px;
    font-family: Nexa Bold;
}

.foot-part-2, .foot-part-3{
    padding-bottom: 20px;
}

.foot-part-2 ul li {
    padding-bottom: 15px;
}

.foot-part-2 .fb {
    margin-right: 10px;
}

.foot-part-2 ul li a {
    font-family: Nexa Bold;
    color: rgba(0, 0, 0, 0.60);
}

.footer h3 {
    font-size: 20px;
    padding-bottom: 15px;
    margin-top: 30px;
    font-family: Nexa Bold;
}
.foot-part-2 a img {
    width: 24px;
    height: 24px;
}

.resources img {
    width: 80px;
    height: 50px;
    margin-bottom: 15px;
    padding: 5px 5px;
    border-radius: 10px;
}

.hema {
    margin-left: 30px;
}

.pay-ways img {
    width: 50px;
    height: 30px;
    padding-right: 12px;
}





