
/* Yellow top section */

.top-section {
    background-color: #FECD3E;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 600;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;

}

.top-section h5 {
    font-family: Nexa Bold;
}

.top-section h5 a {
    color:#fff
}


/* Heading section */

.heading {
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 600;
    margin-top: 35px;
    padding: 5px 0 5px 0;
    top: 0;
}

.logo a {
    display: block;
    background-image:url(../img/header_pic/sunny_logos_slogan_blue.ico);
    width: 140px;
    height: 50px;
    font-size: 0px;
    margin-left: 40px;

}

/* navigation bar */

.navbar ul {
    display: flex;
    margin-left: 60px;
}

.navbar ul li {
    padding:12px 14px;
   
}

.navbar ul a {
    font-size: 16px;
    font-family: Nexa Bold;
    color: #000;
}

.searchbar {
    display: flex;
    margin-left: 40px;
    width: 600px;
    height: auto 48px;
    padding: 6px 16px;
    background-color: #F0F0F0;
    border-radius: 62px;

}

.searchbar input {
    flex: 1;
    border:none;
    outline: none;
    background-color: #F0F0F0;

}

.button {
    width: 1.5dvw;
    height: 3dvh;
    background-image: url(../img/header_pic/search_button.svg);
    margin-right: 12px;
    margin-top: 4px;
    border: none;
}

/* User section  */

.user {
    display: flex;
    width: 90px;
    height: 48px;
    margin-left: 40px;
    padding: 10px 16px;
}

.cart {
    background-image: url(../img/header_pic/shopping_cart.svg);
    width: 24px;
    height: 24px;
}

.user-icon {
    background-image: url(../img//header_pic/person_icon.svg);
    width: 24px;
    height: 24px;
    margin-left: 14px;
}
@font-face {
    font-family: 'Nexa Bold';
    src: url("./Fonts/nexa_bold.otf") format("truetype");
  }
  @font-face {
    font-family: 'Nexa Light';
    src: url("./Fonts/nexa-light.otf") format("truetype");
  }