

#color-options {
    display:flex;
    display: inline-flex;
    align-items:flex-end; 
    gap: 16px;
    flex-direction: row;
  
  
  
  
  }
  
  .color {
    cursor: pointer;
  
  } 
  
  
  .orange-dot {
    height: 25px;
    width: 25px;
    background-color: #F15B39;
    border-radius: 50%;
    display: inline-block;
  }
  
  .green-dot {
    height: 25px;
    width: 25px;
    background-color: #51B2A2;
    border-radius: 50%;
    display: inline-block;
  }
  
  
  .blue-dot {
    height: 25px;
    width: 25px;
    background-color: #1E407A;
    border-radius: 50%;
    display: inline-block;
  }
  
  .yellow-dot {
    height: 25px;
    width: 25px;
    background-color: #FECD3E;
    border-radius: 50%;
    display: inline-block;
  }
  
  .pink-dot {
    height: 25px;
    width: 25px;
    background-color: #E990B9;
    border-radius: 50%;
    display: inline-block;
  }
  
  
  
  
  
  
  
  #image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column-start: 3; 
  
  }
  
  #displayed-image {
    max-width: 20%;
    height: auto;
    margin-left: 10dvw;
     
  }
  