* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}


@font-face {
    font-family: nexaBold;
    src:  url(../Fonts/nexa_bold.otf);
    }

@font-face {
    font-family: nexaLight;
    src:  url(../Fonts/nexa-light.otf);
    }

/* main grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: minmax(0px, auto); */
    padding: 50px;

    padding-block: 0.5em;
    gap: 1.5em;
    margin-inline: auto;

}

/* filters section */
.filter-grid {
    display: grid;

    grid-row: 1 / 3;
}

.filter-flex{
    display: flex;

    width: 295px;
    height: 600px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border: 0.5px solid rgb(188, 188, 188);
}

.filters {
    display: flex;
    padding-left: 40px;
}

/* arrivals section */
.flex-items {
    display: flex;

    justify-content: space-around;
    align-items: center;

    width: 340px;
    height: 340px;
}

.flex-items img {
    display: flex;

    text-align: center;
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.column-2 {
    display: grid;
    grid-column-start: 2;
}

.column-3 {
    display: grid;
    grid-column-start: 3;
}

.column-4 {
    display: grid;
    grid-column-start: 4;
}

/* The filter section style */

/* ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
} */

li {
    list-style: none;
}

li a {
    display: block;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.line-style{
    width: 250px;
    border: 0.1px solid rgb(188, 188, 188);
}

.button-styling {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 35px;

    border: 0.1px solid rgb(188, 188, 188);
    padding: 20px;
}

.button-move {
    display: flex;
    justify-content: center;
    text-align: center;
}

.butt-num {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px;
}

/* Heading Styling */
.h4-move {
    display: grid;
    grid-column-start: 4;
}

.h4-astyle {
    display: flex;

    justify-content: flex-end;
    text-align: center;
    align-items: center;
    height: 35px;
}

.h3-style {
    position: relative;
    padding-left: 45px;
}

.h2-astyle {
    display: flex;

    justify-content: flex-start;
    text-align: center;
    align-items: center;
    height: 35px;
}

.h2-move {
    display: grid;
    grid-column-start: 2;
    line-height: normal;
}

.home-title{
    position: relative;
    padding: 8px;
    padding-left: 70px;

}

/* stars rating */
.checked {
    color: orange;
}
.fa-star-half-full {
    color: orange;
}

/* Choosing the color circle element*/
.color-spacing {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.green-circle {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.red-circle {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.yellow-circle {
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.blue-circle {
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.pink-circle {
    height: 30px;
    width: 30px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
}