* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: NexaBold, NexaLight;
    src: url(../Fonts/);
}

/* main grid container */
.grid-container {
    display: grid;

    background-color: gray;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 40px;

    padding-block: 2rem;
    gap: 1.5em;
    margin-inline: auto;

}
/* filters section */

.filter-grid {
    display: grid;

    grid-row: 1 / 2;
}

.filter-flex{
    display: flex;

    width: 295px;
    padding: 20px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border: 0.5px solid rgb(188, 188, 188);
}

.filters {
    display: flex;

    padding-left: 40px;
}

.color-spacing {
    display: flex;

    justify-content: space-around;
    padding: 10px;
}

/* arrivals and socks section */

.flex-items {
    display: flex;

    border: solid;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    width: 200px;
    height: 150px;
}

.flex-items img {
    display: flex;

    text-align: center;
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.row-1 {
    display: grid;

    grid-column-start: 2;
}

.row-2 {
    display: grid;

    grid-column-start: 3;
}

.row-3 {
    display: grid;

    grid-column-start: 4;
}

/* span elements */

alalal

/* box */


/* The filter section style */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li a {
    display: block;
    text-decoration: none;
    padding-left: 35px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: gray;
}

/* Heading Styling */

.h3-style {
    position: relative;
    padding-left: 45px;
}

.h2-astyle {
    display: grid;

    border: solid;
    grid-column: span;
    grid-column-start: 2;

    height: 120px;
}

/* Choosing the color circle element*/

.green-circle {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.red-circle {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.yellow-circle {
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.blue-circle {
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.pink-circle {
    height: 30px;
    width: 30px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
}